@font-face {
    font-family: "Montserrat Black";
    src: url(../fonts/Montserrat-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Montserrat Bold-Italic";
    src: url(../fonts/Montserrat-BoldItalic.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat Semi-Bold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600 ;
}