@media (prefers-color-scheme: light) {

    :root{
        --body: #151437;
        --text-color: #fff;
        --dots: #ebebeb;
        --tab-text: #151437;
        --footer-link: #fff;
    }
    .title{
        font-size: calc(28 + 12 * (100vw / 320));
    }
}

@media (max-width: 767px) {
    .capabilities__imgage-img{
        width: 100%;
    }
}